<header>    
    <p>
        Welcome to my portfolio! 
        My name is Roel and in I finished a degree in Game Development and Software Engineering in 2016.
        Although I got in a different workfield, I never stopped programming.<br> 
        The moment I got my first game console, I decided I wanted to create games. 
        10 years later, nothing had changed, so I jumped at the opportunity to study Game Development in Amsterdam. 
        At this point it became more about creating things, both games and software.<br>
        Technology was changing rapidly, and mobile applications were on the rise. 
        Because of this I learned to be adaptable and used many different languages, frameworks and platforms.
    </p>
</header>
