<header>    
    <p>
        Hello and welcome to my portfolio! My name is Roel Schoonenberg.
        In 2016 I graduated from de Hogeschool van Amsterdam; Bachelor Game Development and Software Engineering. 
        After college I started working in a different work field, but I never stopped programming.<br><br>  
        My interest in computer engineering was born when I got first game console. In that moment I knew I wanted to create games. 
        Even 10 years later this ambition hadn’t changed so I jumped at the opportunity to study game development in Amsterdam.<br>
        During college my interest grew and developed to be more about creating things, both games and software. 
        Technology was changing rapidly and mobile applications were on the rise. 
        Because of this I learned to be adaptable and used many different languages, frameworks and platforms.
    </p>
</header>
