<nav class="navbar navbar-custom navbar-expand-sm fixed-top navbar-dark bg-dark">
    <a href="{{site.url}}#" class="navbar-brand"><div class="brand-title">Title</div><div class="brand-subtitle">Subtitle</div></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav ms-auto">
            <li class="navbar-item">
                <a class="nav-link" href="{{site.url}}#projects">Projects</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{{site.url}}#skills">Skills</a>
            </li>        
        </ul>
    </div>
</nav>