<section class="skills" id="skills">
    
   <div class="container">
    <div class=row>
        <h2>Skills</h2>

        <div class="col-md-4">
            <h3>Languages</h3>
            <p>Java</p>
            <p>C#</p>
            <p>C++</p>
            <p>JavaScript</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>Python</p>
            <p>Lua</p>
            <p>SQL</p>
            <p>Actionscript</p>
        </div>
        <div class="col-md-4">
            <h3>Frameworks/Engines</h3>
            <p>Unity(C#)</p>
            <p>Unreal(C++)</p>
            <p>Shiva3D(Lua)</p>       
            <p>Construct 2</p>
            <p>GameMaker</p>
            <p>Phaser(Javascript)</p>
            <p>libGDX(Java)</p>
            <p>Irrlicht(c++)</p>
        </div>
        <div class="col-md-4">
            <h3>Other</h3>
            <p>Scrum</p>
            <p>Git</p>
        </div>
    </div>
    </div>
</section>