.navbar-custom{
    height: 80px;
    font-family: "Montserrat";
    text-transform: uppercase;
    padding:20px;
}

.navbar-custom .navbar-brand{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 600;
    color: #00ADB5;
    line-height: 1.3;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand:visited{
    color:#00ADB5;
}

.navbar-custom .navbar-brand .brand-subtitle{
    font-size: 65%;
}

.navbar-nav .navbar-item .nav-link{
    margin:0px 35px;
}

.navbar-collapse {
    background-color: #212529;
}  